<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="D:\AlgoTrade\POC\Algo1\venv\Scripts\python.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
